.Header-component {
  .header {
    $navHeight: 50px;
    background-color: dodgerblue;
    height: $navHeight;

    .logo {
      color: $offBlack;
      margin-left: 15px;
      font-size: 30px;
      line-height: $navHeight;
    }
  }
}
