$navHeight: 50px;

.header {
  background-color: dodgerblue;
  height: $navHeight;

  .logo {
    color: #2b2b2b;
    margin-left: 15px;
    font-family: "Helvetica Neue Light", Helvetica, arial;
    font-size: 30px;
    line-height: $navHeight;
  }
}