// CSS RESET
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "Helvetica Neue Light", Helvetica, arial;
}

// COLORS
$offBlack: #2e2e2e;



@import './Header';
@import './Footer';
@import './BookScripter';
@import './ExtractionZone';
@import './CharacterSelectionList';
@import '../../node_modules/purecss/build/pure-min.css';


