$themeBlue: #0099CC;
$themeBlack: #1F1F1F;
$themeTintedWhite: rgb(252, 252, 252);
$themeWhite: rgb(255,255,255);
$themeGrey: #C8D7E3;
$themeGreyMinus1: #cfdfec;
$themeLightGreyMinus1: #ebeff2;
$themeLightGrey: #e0e3e6;