@import "colors";
@import "mixins";

.main-container {
  background-color: lightcoral;
}

.script-list-container {
  @include boxShadowAnimateHover();
  @include simpleGradientByColor($themeLightGrey, $themeLightGreyMinus1);
  margin: 1rem;
  padding: 1rem;

  .script-list-text {
    color: grey;
  }

  .script-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      margin-bottom: 5px;
    }
  }
}

.book-text-container {
  @include simpleGradientByColor($themeGrey, $themeGreyMinus1);
  padding: 1rem;
  margin: 1rem auto 1rem auto;
  overflow: auto;
  height: 700px;
  width: 50%;
  @include boxShadowAnimateHover();
}

.bookNameHeader {
  margin: 7px 0px -5px 17px;
}

.snippet-type-dropdown {
  background-color: deepskyblue;
  border: 1px solid black;
  text-align: center;
  cursor: default;

  padding: 0;
  margin: 0;
  width: 130px;

  position: absolute;
  left: 436px;
  top: 268px;

  li {
    list-style-type: none;
    @include boxShadowAnimateHover(0.15s);

    &:not(:first-child) {
      border-top: 1px solid black;
    }
  }
}