@import "colors";
@import "mixins";

.main-container {
  background-color: lightcoral;
}

.script-list-container {
  @include boxShadowAnimateHover();
  @include simpleGradientByColor($themeLightGrey, $themeLightGreyMinus1);
  margin: 1rem;
  padding: 1rem;

  .script-list-text {
    color: grey;
  }

  .script-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      margin-bottom: 5px;
    }
  }
}

.book-text-container {
  @include simpleGradientByColor($themeGrey, $themeGreyMinus1);
  @include boxShadowAnimateHover();
  white-space: pre-line;
  padding: 1rem;
  margin: 1rem auto 1rem auto;
  overflow: auto;
  height: 700px;
  width: 50%;
}

.bookNameHeader {
  margin: 7px 0px -5px 17px;
}

.snippet-documenter-dropdown {
  background-color: deepskyblue;
  border: 1px solid black;
  text-align: center;
  cursor: default;

  padding: 0;
  margin: 0;
  width: 130px;
  visibility: hidden;
  position: absolute;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }

  .snippet-types li {
    @include boxShadowAnimateHover(0.15s);
    &:not(:first-child) {
      border-top: 1px solid black;
    }
  }
}
// will be adjusted later via js
.snippet-confirm {
  display: none;
  margin: 0;
  padding: 0;

  span {
    background-color: black;
    @include boxShadowAnimateHover(0.15s);
  }
  i:before {
    color: white;
    background-color: black;
  }
}

.available-characters {
  background-color: black;
  color: white;
  @include boxShadowAnimateHover(0.15s);
  &:not(:first-child) {
    border-top: 1px solid black;
  }
}